In [196]:
 # Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
combined_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [197]:
combined_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [198]:
# calculate total school number from index of school_data
total_schools = len(school_data.index)

# calculate total student number from index of student_data
total_students = len(student_data.index)

# calculate total budget as sum of individual school budgets
total_budget = school_data['budget'].sum()

# calculate average math score
average_math = combined_df['math_score'].sum()/len(combined_df)
average_math = round(average_math, 2)

# calculate average reading score
average_reading = combined_df['reading_score'].sum()/len(combined_df)
average_reading = round(average_reading, 2)

# caculate percent passing math by creating a df containing only those with scores >= 70 for math 
passing_math = combined_df[combined_df['math_score'] >= 70]
percent_passed_math = round((len(passing_math)/len(combined_df)*100),3)

# caculate percent passing reading by creating a df containing only those with scores >= 70 for reading 
passing_reading = combined_df[combined_df['reading_score'] >= 70]
percent_passed_reading = round((len(passing_reading)/len(combined_df)*100),3)

# calculate percent passing both
# start with the passing_math df and narrow down to only those with scores >= 70 for reading (i.e. passing both)
passing_both = passing_math[passing_math['reading_score'] >= 70]
percent_passing_both = round((len(passing_both)/len(combined_df)*100),3)

# merge results into a dataframe and display
overview = pd.DataFrame([{"Total Schools": total_schools, "Total Students": total_students, "Total Budget": total_budget,
                         "Average Math Score":average_math, "Average Reading Score": average_reading, "% Passing Math": percent_passed_math,
                         "% Passing Reading": percent_passed_reading, "% Overall Passing":percent_passing_both}])
display(overview)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.99,81.88,74.981,85.805,65.172

In [221]:
# list variable declaratations 
name, district, total_students, total_budget, per_student_budget, average_math_score, \
average_reading_score, percent_passing_math, percent_passing_reading, percent_passing_both = ([] for i in range(10))

# iterate through schools list
for school in school_data['school_name']:
    
    # create df for current school
    school_df = combined_df[combined_df['school_name'] == school]
    
    # current school name and append to list
    name.append(school)
    
    # get school type and append to list
    district.append(school_df.iloc[0,8])

    # get total students for school and append to list 
    total_students.append(school_df.iloc[0,9])
    
    # get budget for school and append to list
    total_budget.append(school_df.iloc[0,10])
    
    # get budget per student (total budget / total students) and append to list
    per_student_budget.append((school_df.iloc[0,10])/(school_df.iloc[0,9]))
    
    # get average math score for school and append to list
    average_math_score.append(round((sum(school_df['math_score'])/len(school_df)),3))
    
    # get average reading score for school and append to list
    average_reading_score.append(round((sum(school_df['reading_score'])/len(school_df)),3))
    
    # get percentage that passed math (>= 70%) for current school and append to list
    num_passing_math = school_df[school_df['math_score'] >= 70]
    percent_passing_math.append(len(num_passing_math)/len(school_df)*100)
          
    # get percentage that passed reading (>= 70%) for current school and append to list
    num_passing_reading = school_df[school_df['reading_score'] >= 70]
    percent_passing_reading.append(len(num_passing_reading)/len(school_df)*100)          
        
    # get percentage that passed both
    num_passing_both = num_passing_math[num_passing_math['reading_score'] >= 70]
    percent_passing_both = round((len(num_passing_both)/len(school_df)*100),3)
    

    # get percentage that passed reading (>= 70%) for current school and append to list
    #num_passing_reading = school_df[school_df['reading_score'] >= 70]
    #percent_passed_reading.append(round((len(num_passing_reading)/len(school_df)*100),3))
    
    # get percentage that passed both, starting with the passing math df 
    #num_passing_both = num_passing_math[num_passing_math['reading_score'] >= 70]
    #percent_passed_both.append(round((len(num_passing_both)/len(school_df)*100),3))

data = [name, district, total_students, total_budget, per_student_budget, average_math_score,
        average_reading_score, percent_passing_math, percent_passing_reading, percent_passing_both]   

headers = ["name", "School Type", "Total Students", "Total School Budget", "Per Student Budget", 
           "Average Math Score", "Average Reading Score", "% Passing Math", 
           "% Passing Reading", "% Overall Passing"]   

school_summary = pd.DataFrame(data, columns = headers)

display(percent_passing_math)

    
#x = [school_data[school_data["school_name"]=="Huang High School"]]
#print(school_data)
    
# school_summary['School Type'] = 3

TypeError: object of type 'float' has no len()

In [211]:
School Name
School Type
Total Students
Total School Budget
Per Student Budget
Average Math Score
Average Reading Score
% Passing Math (The percentage of students that passed math.)
% Passing Reading (The percentage of students that passed reading.)
% Overall Passing (The percentage of students that passed math and reading.)

SyntaxError: invalid syntax (<ipython-input-211-0f640f509fee>, line 1)