In [28]:
 # Import libraries and setup
import pandas as pd
import locale
locale.setlocale(locale.LC_ALL, 'en_US') # will use for currency formatting 

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"

student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into DataFrames
# Sort school df into alphabetical order
school_data = pd.read_csv(school_data_to_load)
school_data.sort_values(by="school_name", inplace=True)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single df (combined_df)  
combined_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [29]:
combined_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [38]:
# calculate total school number from index of school_data
total_schools = len(school_data.index)

# calculate total student number from index of student_data
total_students = len(student_data.index)

# calculate total budget as sum of individual school budgets
total_budget = school_data['budget'].sum()

# calculate average math score
average_math = combined_df['math_score'].mean()
average_math = round(average_math, 2)

# calculate average reading score
average_reading = combined_df['reading_score'].mean()
average_reading = round(average_reading, 2)

# caculate percent passing math by creating a df containing only those with scores >= 70 for math 
passing_math = combined_df[combined_df['math_score'] >= 70]
percent_passed_math = round((len(passing_math)/len(combined_df)*100),3)

# caculate percent passing reading by creating a df containing only those with scores >= 70 for reading 
passing_reading = combined_df[combined_df['reading_score'] >= 70]
percent_passed_reading = round((len(passing_reading)/len(combined_df)*100),3)

# calculate percent passing both
# start with the passing_math df and narrow down to only those with scores >= 70 for reading (i.e. passing both)
passing_both = passing_math[passing_math['reading_score'] >= 70]
percent_passing_both = round((len(passing_both)/len(combined_df)*100),3)

# merge results into a dataframe and display
overview = pd.DataFrame([{"Total Schools": total_schools, "Total Students": total_students, "Total Budget": total_budget,
                         "Average Math Score":average_math, "Average Reading Score": average_reading, "% Passing Math": percent_passed_math,
                         "% Passing Reading": percent_passed_reading, "% Overall Passing":percent_passing_both}])
overview

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.99,81.88,74.981,85.805,65.172

In [39]:
# list variable declaratations 
name, school_type, total_students, total_budget, per_student_budget, average_math_score, \
average_reading_score, percent_passing_math, percent_passing_reading, percent_passing_both = ([] for i in range(10))

# iterate through schools list
for school in school_data['school_name']:
    
    # create df for current school
    school_df = combined_df[combined_df['school_name'] == school]
    
    # current school name and append to list
    name.append(school)
    
    # get school type and append to list
    school_type.append(school_df.iloc[0,8])

    # get total students for school and append to list 
    total_students.append(school_df.iloc[0,9])
    
    # get budget for school and append to list. value displayed with currency formatting 
    budget_data = school_df.iloc[0,10]
    total_budget.append(locale.currency(budget_data, grouping=True))
    
    # get budget per student (total budget / total students) and append to list
    budget_data = (school_df.iloc[0,10])/(school_df.iloc[0,9])
    per_student_budget.append(locale.currency(budget_data, grouping=True))
    
    # get average math score for school and append to list
    average_math_score.append(round((school_df['math_score'].mean()),3))
    
    # get average reading score for school and append to list
    average_reading_score.append(round((school_df['reading_score'].mean()),3))
    
    # get percentage that passed math (>= 70%) for current school and append to list
    num_passing_math = school_df[school_df['math_score'] >= 70]
    percent_passing_math.append(f"{round((len(num_passing_math)/len(school_df)*100),3)}%")
          
    # get percentage that passed reading (>= 70%) for current school and append to list
    num_passing_reading = school_df[school_df['reading_score'] >= 70]
    percent_passing_reading.append(f"{round((len(num_passing_reading)/len(school_df)*100),3)}%")          
        
    # get percentage that passed both
    num_passing_both = num_passing_math[num_passing_math['reading_score'] >= 70]
    percent_passing_both.append(f"{round((len(num_passing_both)/len(school_df)*100),3)}%")

# merge results into a dataframe and display
school_summary = pd.DataFrame({"School": name, "School Type": school_type, "Total Students": total_students,
                               "Total School Budget": total_budget, "Per Student Budget": per_student_budget, 
                               "Average Math Score": average_math_score, "Average Reading Score": average_reading_score, 
                               "% Passing Math": percent_passing_math, "% Passing Reading": percent_passing_reading, 
                               "% Overall Passing": percent_passing_both})

school_summary

<bound method DataFrame.count of        Student ID         student_name gender grade         school_name  \
17873       17873         Richard Haas      M  11th  Bailey High School
17874       17874          Frank Marsh      M   9th  Bailey High School
17876       17876         James Burton      M  11th  Bailey High School
17877       17877         James Rogers      M  11th  Bailey High School
17878       17878            Wendy Fox      F  12th  Bailey High School
...           ...                  ...    ...   ...                 ...
22839       22839      Rodney Thompson      M  10th  Bailey High School
22841       22841        Lauren Miller      F  10th  Bailey High School
22842       22842         Jaclyn Ayala      F  12th  Bailey High School
22844       22844       Gabriel Ashley      M   9th  Bailey High School
22846       22846  Dr. Nicholas Garcia      M  11th  Bailey High School

       reading_score  math_score  School ID      type  size   budget
17873             79          86          7  District  4976  3124928
17874             71          89          7  District  4976  3124928
17876             89          85          7  District  4976  3124928
17877             91          70          7  District  4976  3124928
17878             85          99          7  District  4976  3124928
...              ...         ...        ...       ...   ...      ...
22839             79          88          7  District  4976  3124928
22841             96          86          7  District  4976  3124928
22842             74          93          7  District  4976  3124928
22844             95          88          7  District  4976  3124928
22846             90          79          7  District  4976  3124928

[3318 rows x 11 columns]>
<bound method DataFrame.count of        Student ID    student_name gender grade          school_name  \
16013       16013    Olivia Short      F  11th  Cabrera High School
16014       16014     Kerry Jones      F   9th  Cabrera High School
16015       16015   Bruce Jackson      M  12th  Cabrera High School
16016       16016       Amy Green      F  12th  Cabrera High School
16017       16017   Melanie Mason      F  12th  Cabrera High School
...           ...             ...    ...   ...                  ...
17866       17866     Sonya Roman      F  10th  Cabrera High School
17867       17867     Debra Perez      F  10th  Cabrera High School
17868       17868   Mr. Dean York      M  11th  Cabrera High School
17869       17869  Brandi Swanson      F  12th  Cabrera High School
17870       17870    Kim Faulkner      F  10th  Cabrera High School

       reading_score  math_score  School ID     type  size   budget
16013             94          94          6  Charter  1858  1081356
16014             98          97          6  Charter  1858  1081356
16015             78          83          6  Charter  1858  1081356
16016             89          92          6  Charter  1858  1081356
16017             96          71          6  Charter  1858  1081356
...              ...         ...        ...      ...   ...      ...
17866             79          86          6  Charter  1858  1081356
17867             89          98          6  Charter  1858  1081356
17868             98          75          6  Charter  1858  1081356
17869             81          73          6  Charter  1858  1081356
17870             99          83          6  Charter  1858  1081356

[1749 rows x 11 columns]>
<bound method DataFrame.count of       Student ID         student_name gender grade           school_name  \
2917        2917           Amy Jacobs      F  10th  Figueroa High School
2918        2918      Nathan Campbell      M  12th  Figueroa High School
2919        2919      Randall Stewart      M  12th  Figueroa High School
2922        2922  Amanda Hamilton DDS      F   9th  Figueroa High School
2923        2923         Anthony Pace      M  10th  Figueroa High School
...          ...                  ...    ...   ...                   ...
5858        5858        Rachel Knight      F  11th  Figueroa High School
5859        5859    Courtney Gonzalez      F  12th  Figueroa High School
5860        5860          Susan Payne      F  10th  Figueroa High School
5861        5861       April Sullivan      F   9th  Figueroa High School
5864        5864          Tammy Burns      F   9th  Figueroa High School

      reading_score  math_score  School ID      type  size   budget
2917             85          87          1  District  2949  1884411
2918             97          84          1  District  2949  1884411
2919             67          77          1  District  2949  1884411
2922             72          93          1  District  2949  1884411
2923             66          90          1  District  2949  1884411
...             ...         ...        ...       ...   ...      ...
5858             78          71          1  District  2949  1884411
5859             75          91          1  District  2949  1884411
5860             81          92          1  District  2949  1884411
5861             81          92          1  District  2949  1884411
5864             91          83          1  District  2949  1884411

[1946 rows x 11 columns]>
<bound method DataFrame.count of        Student ID       student_name gender grade       school_name  \
34796       34796    Michael Mercado      M   9th  Ford High School
34801       34801  Mr. William Scott      M   9th  Ford High School
34803       34803         Steven Lee      M   9th  Ford High School
34805       34805   Veronica English      F   9th  Ford High School
34806       34806   Crystal Sandoval      F  11th  Ford High School
...           ...                ...    ...   ...               ...
37525       37525     Steven Summers      M   9th  Ford High School
37528       37528     Nicholas Perry      M  11th  Ford High School
37531       37531       Bernard Reid      M   9th  Ford High School
37533       37533       Thomas Knapp      M  12th  Ford High School
37534       37534     Melissa Porter      F   9th  Ford High School

       reading_score  math_score  School ID      type  size   budget
34796             66          94         13  District  2739  1763916
34801             73          75         13  District  2739  1763916
34803             77          84         13  District  2739  1763916
34805             75          93         13  District  2739  1763916
34806             85          84         13  District  2739  1763916
...              ...         ...        ...       ...   ...      ...
37525             71          71         13  District  2739  1763916
37528             83          83         13  District  2739  1763916
37531             94          80         13  District  2739  1763916
37533             75          70         13  District  2739  1763916
37534             76          84         13  District  2739  1763916

[1871 rows x 11 columns]>
<bound method DataFrame.count of        Student ID       student_name gender grade          school_name  \
12263       12263  Elizabeth Goodwin      F  10th  Griffin High School
12264       12264      Michelle Wong      F   9th  Griffin High School
12265       12265      Scott Roth MD      M  11th  Griffin High School
12266       12266       Billy Wilson      M  12th  Griffin High School
12267       12267        Robert Lane      M  11th  Griffin High School
...           ...                ...    ...   ...                  ...
13725       13725   Jonathan Pollard      M   9th  Griffin High School
13726       13726         Sarah Shah      F   9th  Griffin High School
13727       13727      Megan Bennett      F  10th  Griffin High School
13728       13728     Donald Barnett      M  12th  Griffin High School
13729       13729        Kent Miller      M   9th  Griffin High School

       reading_score  math_score  School ID     type  size  budget
12263             91          81          4  Charter  1468  917500
12264             78          89          4  Charter  1468  917500
12265             91          85          4  Charter  1468  917500
12266             76          83          4  Charter  1468  917500
12267             76          71          4  Charter  1468  917500
...              ...         ...        ...      ...   ...     ...
13725             90          94          4  Charter  1468  917500
13726             99          75          4  Charter  1468  917500
13727             80          91          4  Charter  1468  917500
13728             91          96          4  Charter  1468  917500
13729             91          99          4  Charter  1468  917500

[1371 rows x 11 columns]>
<bound method DataFrame.count of        Student ID     student_name gender grade            school_name  \
7627         7627    Russell Davis      M  10th  Hernandez High School
7628         7628   Timothy Walker      M  12th  Hernandez High School
7629         7629   Katie Johnston      F  12th  Hernandez High School
7630         7630   Joann Oconnell      F  12th  Hernandez High School
7631         7631  Sarah Alexander      F  10th  Hernandez High School
...           ...              ...    ...   ...                    ...
12253       12253   Kristin Turner      F  11th  Hernandez High School
12254       12254    Laura Salazar      F   9th  Hernandez High School
12256       12256    Christina Lee      F  11th  Hernandez High School
12259       12259  Jonathan Miller      M   9th  Hernandez High School
12261       12261   Richard Wilson      M  10th  Hernandez High School

       reading_score  math_score  School ID      type  size   budget
7627              70          88          3  District  4635  3022020
7628              97          93          3  District  4635  3022020
7629              83          81          3  District  4635  3022020
7630              77          91          3  District  4635  3022020
7631              84          93          3  District  4635  3022020
...              ...         ...        ...       ...   ...      ...
12253             93          95          3  District  4635  3022020
12254             64          77          3  District  4635  3022020
12256             63          88          3  District  4635  3022020
12259             71          91          3  District  4635  3022020
12261             64          81          3  District  4635  3022020

[3094 rows x 11 columns]>
<bound method DataFrame.count of        Student ID       student_name gender grade         school_name  \
22847       22847   Daniel Rodriguez      M  11th  Holden High School
22848       22848      Bryan Perkins      M   9th  Holden High School
22849       22849       Scott Holder      M   9th  Holden High School
22850       22850       Troy Jackson      M  11th  Holden High School
22851       22851      William Gomez      M   9th  Holden High School
...           ...                ...    ...   ...                 ...
23269       23269     Sharon Douglas      F   9th  Holden High School
23270       23270      Lauren Little      F   9th  Holden High School
23271       23271  Christine Kaufman      F   9th  Holden High School
23272       23272    Christina Smith      F  11th  Holden High School
23273       23273       Joyce Martin      F  10th  Holden High School

       reading_score  math_score  School ID     type  size  budget
22847             86          92          8  Charter   427  248087
22848             91          81          8  Charter   427  248087
22849             98          93          8  Charter   427  248087
22850             80          90          8  Charter   427  248087
22851             76          85          8  Charter   427  248087
...              ...         ...        ...      ...   ...     ...
23269             78          93          8  Charter   427  248087
23270             94          95          8  Charter   427  248087
23271             83          95          8  Charter   427  248087
23272             94          84          8  Charter   427  248087
23273             77          92          8  Charter   427  248087

[395 rows x 11 columns]>
<bound method DataFrame.count of       Student ID    student_name gender grade        school_name  \
0              0    Paul Bradley      M   9th  Huang High School
4              4      Bonnie Ray      F   9th  Huang High School
5              5   Bryan Miranda      M   9th  Huang High School
6              6   Sheena Carter      F  11th  Huang High School
8              8    Michael Roth      M  10th  Huang High School
...          ...             ...    ...   ...                ...
2912        2912   Michael Combs      M   9th  Huang High School
2913        2913  Monica Barajas      F   9th  Huang High School
2914        2914   Carlos Garner      M  12th  Huang High School
2915        2915  April Williams      F  12th  Huang High School
2916        2916   Karen Blevins      F  10th  Huang High School

      reading_score  math_score  School ID      type  size   budget
0                66          79          0  District  2917  1910635
4                97          84          0  District  2917  1910635
5                94          94          0  District  2917  1910635
6                82          80          0  District  2917  1910635
8                95          87          0  District  2917  1910635
...             ...         ...        ...       ...   ...      ...
2912             98          95          0  District  2917  1910635
2913             64          81          0  District  2917  1910635
2914             66          73          0  District  2917  1910635
2915             70          85          0  District  2917  1910635
2916             82          73          0  District  2917  1910635

[1916 rows x 11 columns]>
<bound method DataFrame.count of        Student ID    student_name gender grade          school_name  \
30035       30035      Lisa Casey      F  12th  Johnson High School
30037       30037    Anna Wilkins      F  11th  Johnson High School
30038       30038    Andrew Smith      M   9th  Johnson High School
30039       30039  Robert Allison      M  11th  Johnson High School
30040       30040   Andrew Wilson      M  11th  Johnson High School
...           ...             ...    ...   ...                  ...
34786       34786   Matthew Jones      M   9th  Johnson High School
34788       34788    Michael Lang      M  10th  Johnson High School
34792       34792   Joshua Murphy      M   9th  Johnson High School
34793       34793    Alicia Cantu      F  11th  Johnson High School
34794       34794   Robert Taylor      M  11th  Johnson High School

       reading_score  math_score  School ID      type  size   budget
30035             87          87         12  District  4761  3094650
30037             89          77         12  District  4761  3094650
30038             66          85         12  District  4761  3094650
30039             63          85         12  District  4761  3094650
30040             70          84         12  District  4761  3094650
...              ...         ...        ...       ...   ...      ...
34786             74          79         12  District  4761  3094650
34788             81          89         12  District  4761  3094650
34792             91          70         12  District  4761  3094650
34793             68          78         12  District  4761  3094650
34794             80          71         12  District  4761  3094650

[3145 rows x 11 columns]>
<bound method DataFrame.count of        Student ID        student_name gender grade       school_name  \
23274       23274          Alec Davis      M   9th  Pena High School
23275       23275       Michael Meyer      M  10th  Pena High School
23276       23276    Donald Gutierrez      M  11th  Pena High School
23277       23277       Travis Chavez      M  11th  Pena High School
23278       23278         Sheena Ball      F  12th  Pena High School
...           ...                 ...    ...   ...               ...
24230       24230       Mark Gonzalez      M  10th  Pena High School
24231       24231  Crystal Pennington      F  12th  Pena High School
24232       24232     Christina Jones      F  10th  Pena High School
24233       24233        John Kennedy      M   9th  Pena High School
24235       24235     Nathaniel Hodge      M  12th  Pena High School

       reading_score  math_score  School ID     type  size  budget
23274             91          75          9  Charter   962  585858
23275             94          76          9  Charter   962  585858
23276             98          91          9  Charter   962  585858
23277             78          71          9  Charter   962  585858
23278             87          92          9  Charter   962  585858
...              ...         ...        ...      ...   ...     ...
24230             70          90          9  Charter   962  585858
24231             84          76          9  Charter   962  585858
24232             69          84          9  Charter   962  585858
24233             79          82          9  Charter   962  585858
24235             99          96          9  Charter   962  585858

[910 rows x 11 columns]>
<bound method DataFrame.count of        Student ID       student_name gender grade            school_name  \
26036       26036     Sherry Jenkins      F  11th  Rodriguez High School
26037       26037  Kimberly Calderon      F  10th  Rodriguez High School
26039       26039      Jacob Padilla      M  11th  Rodriguez High School
26040       26040    Paula Maldonado      F  10th  Rodriguez High School
26041       26041   Patricia Escobar      F  12th  Rodriguez High School
...           ...                ...    ...   ...                    ...
30028       30028     Kelly Hamilton      F   9th  Rodriguez High School
30029       30029    Patrick Hopkins      M  10th  Rodriguez High School
30031       30031       Shannon Mack      F   9th  Rodriguez High School
30032       30032      Hayley Snyder      F  12th  Rodriguez High School
30034       30034       Andrew Clark      M  10th  Rodriguez High School

       reading_score  math_score  School ID      type  size   budget
26036             74          81         11  District  3999  2547363
26037             80          86         11  District  3999  2547363
26039             79          73         11  District  3999  2547363
26040             96          92         11  District  3999  2547363
26041             68          98         11  District  3999  2547363
...              ...         ...        ...       ...   ...      ...
30028             85          72         11  District  3999  2547363
30029             85          88         11  District  3999  2547363
30031             87          93         11  District  3999  2547363
30032             97          79         11  District  3999  2547363
30034             90          95         11  District  3999  2547363

[2654 rows x 11 columns]>
<bound method DataFrame.count of       Student ID      student_name gender grade          school_name  \
5866        5866  Jamie Montgomery      F  12th  Shelton High School
5867        5867  Shannon Phillips      F  10th  Shelton High School
5868        5868       Todd Barber      M  11th  Shelton High School
5869        5869      Desiree King      F  12th  Shelton High School
5870        5870   Melissa Roberts      F  10th  Shelton High School
...          ...               ...    ...   ...                  ...
7622        7622  Elizabeth Horton      F  11th  Shelton High School
7623        7623      April Harper      F  10th  Shelton High School
7624        7624    Melanie Chavez      F  12th  Shelton High School
7625        7625  Steven Alexander      M   9th  Shelton High School
7626        7626      Randy Carson      M  10th  Shelton High School

      reading_score  math_score  School ID     type  size   budget
5866             70          91          2  Charter  1761  1056600
5867             84          71          2  Charter  1761  1056600

,School,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048,81.034,66.68%,81.933%,54.642%
1,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.062,83.976,94.133%,97.04%,91.335%
2,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.712,81.158,65.988%,80.739%,53.204%
3,Ford High School,District,2739,"$1,763,916.00",$644.00,77.103,80.746,68.31%,79.299%,54.29%
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351,83.817,93.392%,97.139%,90.599%
5,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.290,80.934,66.753%,80.863%,53.528%
6,Holden High School,Charter,427,"$248,087.00",$581.00,83.803,83.815,92.506%,96.253%,89.227%
7,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629,81.183,65.684%,81.316%,53.514%
8,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072,80.966,66.058%,81.222%,53.539%
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.840,84.045,94.595%,95.946%,90.541%
10,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.843,80.745,66.367%,80.22%,52.988%
11,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359,83.726,93.867%,95.855%,89.892%
12,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418,83.849,93.272%,97.309%,90.948%
13,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274,83.989,93.868%,96.54%,90.583%
14,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682,83.955,93.333%,96.611%,90.333%

In [32]:
# sort the school summary df by '% Overall Passing' column, in descending order, leaving only top 5 schools
top_performers = school_summary.sort_values(by="% Overall Passing", ascending=False)
top_performers = top_performers.iloc[:5]

top_performers

,School,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
1,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.062,83.976,94.133%,97.04%,91.335%
12,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418,83.849,93.272%,97.309%,90.948%
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351,83.817,93.392%,97.139%,90.599%
13,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274,83.989,93.868%,96.54%,90.583%
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.840,84.045,94.595%,95.946%,90.541%

In [33]:
# sort the school summary df by '% Overall Passing' column, in ascending order, leaving only bottom 5 schools
bottom_performers = school_summary.sort_values(by="% Overall Passing", ascending=True)
bottom_performers = bottom_performers.iloc[:5]

bottom_performers

,School,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
10,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.843,80.745,66.367%,80.22%,52.988%
2,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.712,81.158,65.988%,80.739%,53.204%
7,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629,81.183,65.684%,81.316%,53.514%
5,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.290,80.934,66.753%,80.863%,53.528%
8,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072,80.966,66.058%,81.222%,53.539%

In [26]:
# create df for summary data, with row and column headers given by schools and grade names 
grades = ['9th', '10th', '11th', '12th']
schools = combined_df.school_name.unique()
schools.sort()
grade_summary = pd.DataFrame(columns=grades, index=schools)

# iterate through schools
for school in schools:
    
    # create df for current school
    school_df = combined_df[combined_df['school_name'] == school]
    
    # iterate through grades for current school
    for grade in grades:
        # create df for current grades data and average math scores
        current_grade_data = school_df[school_df['grade'] == grade]
        current_average = round((sum(current_grade_data['math_score'])/len(current_grade_data)),3)
        
        # add corresponding location in in summary df
        grade_summary.loc[school, grade] = current_average        

grade_summary

                          9th    10th    11th    12th
Bailey High School     77.084  76.997  77.516  76.492
Cabrera High School    83.095  83.155  82.766  83.277
Figueroa High School   76.403   76.54  76.884  77.151
Ford High School       77.361  77.672  76.918   76.18
Griffin High School    82.044  84.229  83.842  83.356
Hernandez High School  77.438  77.337  77.136  77.187
Holden High School     83.787   83.43      85  82.855
Huang High School      77.027  75.909  76.447  77.226
Johnson High School    77.188  76.691  77.492  76.863
Pena High School       83.625  83.372  84.328  84.122
Rodriguez High School   76.86  76.612  76.396  77.691
Shelton High School    83.421  82.917  83.383  83.779
Thomas High School      83.59  83.088  83.499  83.497
Wilson High School     83.086  83.724  83.195  83.036
Wright High School     83.265   84.01  83.837  83.645

In [25]:
# df for summary data, with row and column headers given by schools and grade names 
grades = ['9th', '10th', '11th', '12th']
schools = combined_df.school_name.unique()
schools.sort()
grade_summary = pd.DataFrame(columns=grades, index=schools)

# iterate through schools
for school in schools:
    
    # create df for current school
    school_df = combined_df[combined_df['school_name'] == school]
    
    # iterate through grades for current school
    for grade in grades:
        # create df for current grades data and average math scores
        current_grade_data = school_df[school_df['grade'] == grade]
        current_average = round((sum(current_grade_data['reading_score'])/len(current_grade_data)),3)
        # add corresponding location in in summary df
        grade_summary.loc[school, grade] = current_average        

grade_summary

                          9th    10th    11th    12th
Bailey High School     81.303  80.907  80.946  80.912
Cabrera High School    83.676  84.253  83.788  84.288
Figueroa High School   81.199  81.409   80.64  81.385
Ford High School       80.633  81.263  80.404  80.662
Griffin High School    83.369  83.707  84.288  84.014
Hernandez High School  80.867   80.66  81.396  80.857
Holden High School     83.677  83.325  83.816  84.699
Huang High School       81.29  81.512  81.417  80.306
Johnson High School    81.261  80.773  80.616  81.228
Pena High School       83.807  83.612  84.336  84.591
Rodriguez High School  80.993   80.63  80.865  80.376
Shelton High School    84.123  83.442  84.374  82.782
Thomas High School     83.729  84.254  83.586  83.831
Wilson High School      83.94  84.021  83.765  84.318
Wright High School     83.833  83.813  84.156  84.073

In [13]:
x = combined_df.groupby("school_name")["student_name"].count()
x.head()

school_name
Bailey High School      4976
Cabrera High School     1858
Figueroa High School    2949
Ford High School        2739
Griffin High School     1468
Name: student_name, dtype: int64

In [47]:
schools = combined_df.school_name.unique()
schools.sort()

headers = ["School Type", "Total Students", "Total School Budget", "Per Student Budget", 
           "Average Math Score", "Average Reading Score", 
            "% Passing Math", "% Passing Reading", "% Overall Passing"]

df = pd.DataFrame(columns=headers, index=schools)

for school in schools:
    
    # create df for current school
    school_df = combined_df[combined_df['school_name'] == school]
    
    # get school type and append to list
    df.loc[school, 'School Type'] = school_df.iloc[0,8]

    # get total students for school and append to list 
    df.loc[school, 'Total Students'] = school_df.iloc[0,9]
    
    # get budget for school and append to list. value displayed with currency formatting 
    budget_data = school_df.iloc[0,10]
    df.loc[school, 'Total School Budget'] = locale.currency(budget_data, grouping=True)
    
    # get budget per student (total budget / total students) and append to list
    budget_data = (school_df.iloc[0,10])/(school_df.iloc[0,9])
    df.loc[school, 'Per Student Budget'] = locale.currency(budget_data, grouping=True)
    
    # get average math score for school and append to list
    df.loc[school, 'Average Math Score'] = round((school_df['math_score'].mean()),3)
    
    # get average reading score for school and append to list
    df.loc[school, 'Average Reading Score'] = round((school_df['reading_score'].mean()),3)
    
    # get percentage that passed math (>= 70%) for current school and append to list
    num_passing_math = school_df[school_df['math_score'] >= 70]
    df.loc[school, '% Passing Math'] = (f"{round((len(num_passing_math)/len(school_df)*100),3)}%")
          
    # get percentage that passed reading (>= 70%) for current school and append to list
    num_passing_reading = school_df[school_df['reading_score'] >= 70]
    df.loc[school, '% Passing Reading'] = (f"{round((len(num_passing_reading)/len(school_df)*100),3)}%")          
        
    # get percentage that passed both
    num_passing_both = num_passing_math[num_passing_math['reading_score'] >= 70]
    df.loc[school, '% Overall Passing'] = (f"{round((len(num_passing_both)/len(school_df)*100),3)}%")

df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048,81.034,66.68%,81.933%,54.642%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.062,83.976,94.133%,97.04%,91.335%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.712,81.158,65.988%,80.739%,53.204%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.103,80.746,68.31%,79.299%,54.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351,83.817,93.392%,97.139%,90.599%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.934,66.753%,80.863%,53.528%
Holden High School,Charter,427,"$248,087.00",$581.00,83.803,83.815,92.506%,96.253%,89.227%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629,81.183,65.684%,81.316%,53.514%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072,80.966,66.058%,81.222%,53.539%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.045,94.595%,95.946%,90.541%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.843,80.745,66.367%,80.22%,52.988%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359,83.726,93.867%,95.855%,89.892%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418,83.849,93.272%,97.309%,90.948%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274,83.989,93.868%,96.54%,90.583%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682,83.955,93.333%,96.611%,90.333%

In [24]:
raw_data = {
    'Class': ['Oct', 'Oct', 'Jan', 'Jan', 'Oct', 'Jan'], 
    'Name': ["Cyndy", "Logan", "Laci", "Elmer", "Crystle", "Emmie"], 
    'Test Score': [90, 59, 72, 88, 98, 60]}
df = pd.DataFrame(raw_data)
df

  Class     Name  Test Score
0   Oct    Cyndy          90
1   Oct    Logan          59
2   Jan     Laci          72
3   Jan    Elmer          88
4   Oct  Crystle          98
5   Jan    Emmie          60

In [64]:
df = combined_df
df.groupby(['school_name', 'type'])
print(df.count().head())

Student ID      39170
student_name    39170
gender          39170
grade           39170
school_name     39170
dtype: int64