In [19]:
 # Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
combined_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [20]:
combined_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [52]:
# calculate total school number from index of school_data
total_schools = len(school_data.index)

# calculate total student number from index of student_data
total_students = len(student_data.index)

# calculate total budget as sum of individual school budgets
total_budget = school_data['budget'].sum()

# calculate average math score
average_math = combined_df['math_score'].sum()/len(combined_df)
average_math = round(average_math, 2)

# calculate average reading score
average_reading = combined_df['reading_score'].sum()/len(combined_df)
average_reading = round(average_reading, 2)

# caculate percent passing math by creating a df containing only those with scores >= 70 for math 
passing_math = combined_df[combined_df['math_score'] >= 70]
percent_passed_math = round((len(passing_math)/len(combined_df)*100),3)

# caculate percent passing reading by creating a df containing only those with scores >= 70 for reading 
passing_reading = combined_df[combined_df['reading_score'] >= 70]
percent_passed_reading = round((len(passing_reading)/len(combined_df)*100),3)

# calculate percent passing both
# start with the passing_math df and narrow down to only those with scores >= 70 for reading (i.e. passing both)
passing_both = passing_math[passing_math['reading_score'] >= 70]
percent_passing_both = round((len(passing_both)/len(combined_df)*100),3)

# merge results into a dataframe and display
overview = pd.DataFrame([{"Total Schools": total_schools, "Total Students": total_students, "Total Budget": total_budget,
                         "Average Math Score":average_math, "Average Reading Score": average_reading, "% Passing Math": percent_passed_math,
                         "% Passing Reading": percent_passed_reading, "% Overall Passing":percent_passing_both}])
display(overview)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.99,81.88,74.981,85.805,65.172

In [34]:
print(overview)

   Total School  Total Students  Total Budget  Average Math Score  \
0            15           39170      24649428               78.99

   Average Reading Score  % Passing Math  $ Passing Reading  % Overall Passing
0                  81.88       74.980853          85.805463          65.172326

In [35]:
len(school_data.index)

15

In [36]:
display(overview)

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,$ Passing Reading,% Overall Passing
0,15,39170,24649428,78.99,81.88,74.980853,85.805463,65.172326

In [37]:
Total Schools
Total Students
Total Budget
Average Math Score
Average Reading Score
% Passing Math (The percentage of students that passed math.)
% Passing Reading (The percentage of students that passed reading.)
% Overall Passing (The percentage of students that passed math and reading.)

SyntaxError: invalid syntax (<ipython-input-37-42b9f8fa449b>, line 1)